* {
  box-sizing: border-box;
}

body,
input,
a {
  all: unset;
}

a {
  cursor: pointer;
}

body {
  font-family: Pretendard;
  font-style: normal;
  line-height: normal;
}

header {
  width: 100%;
}

.header-container {
  display: flex;
  gap: 40px;
  background: #f0f6ff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px 200px;
}

.nav-login a {
  display: flex;
  justify-content: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: white;
  gap: 10px;
  padding: 16px 20px;
  width: 128px;
}

header a {
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
}

header .header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 360px 0;
  gap: 40px;
}

header span {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
}

header span.header-heading-color {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-top a {
  display: flex;
  justify-content: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: white;
  padding: 16px 20px;
  width: 350px;
}

.img-header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-link {
  position: relative;
}

.link-textbox {
  margin-top: 150px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 157px;
  padding: 50px 0;
  background-color: white;
}

section span {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

span.link-heading-color {
  width: 291px;
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-pictures > img {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sec-pictures-common {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 550px;
  height: 450px;
}

.sec-folder {
  flex-direction: row-reverse;
}

.folder-picture {
  display: flex;
  align-items: center;
}

.folder-picture > img {
  display: flex;
  width: 100%;
}

.folder-textbox {
  margin-bottom: 100px;
}

.folder-textbox span.folder-heading-color {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.3px;
}

.share-textbox {
  margin-top: -100px;
}

.share-heading-color {
  background: linear-gradient(99deg, #6d7ccd 19.76%, #5288858c 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share-bg-picture > img {
  width: 100%;
}

.sec-search {
  flex-direction: row-reverse;
}

.search-bg > img {
  width: 100%;
}

.search-textbox {
  margin-bottom: 100px;
}

.search-heading-color {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
  background: #111322;
  color: #cfcfcf;
  font-family: Abel;
  font-size: 16px;
  font-weight: 400;
  height: 160px;
  margin-top: 120px;
  padding: 32px 104px 64px 104px;
}

footer > img {
  width: 20px;
  height: 20px;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

footer a {
  color: #cfcfcf;
}

/* PC */
@media (min-width: 1200px) {
  .header-page {
    width: 1200px;
  }
}

/* 태블릿 이하 */
@media (max-width: 1199px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 32px;
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
  .header-content {
    width: 698px;
  }
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  header .header-top {
    padding: 70px 0 0;
  }
  header,
  section {
    padding: 0 32px;
  }

  .header-content {
    width: 100%;
  }

  .sec-pictures-common {
    width: 100%;
  }
  section img {
    width: 100%;
  }
}
