* {
  box-sizing: border-box;
}

body,
input,
a {
  all: unset;
}

a {
  cursor: pointer;
}

body {
  font-family: Pretendard;
  font-style: normal;
  line-height: normal;
  word-break: keep-all;
}

header {
  width: 100%;
}

.header-container {
  display: flex;
  gap: 40px;
  background: #f0f6ff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1920px;
}

.nav-login a {
  display: flex;
  justify-content: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: white;
  gap: 10px;
  padding: 16px 20px;
  width: 128px;
}

header a {
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
}

header .header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 360px 0;
  gap: 40px;
}

header span {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
}

header span.header-heading-color {
  background: linear-gradient(91deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-top a {
  display: flex;
  justify-content: center;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: white;
  padding: 16px 20px;
  width: 350px;
}

.img-header {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-link {
  position: relative;
}

section {
  display: grid;
  grid-template:
    ". pic"
    "head pic"
    "desc pic"
    ". pic";
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
  gap: 10px 157px;
  padding: 50px 0;
  background-color: white;
}

section:nth-child(2n) {
  grid-template:
    "pic ."
    "pic head"
    "pic desc"
    "pic .";
}

section span {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

section [class$="-heading"] {
  grid-area: head;
}

section [class$="-heading"],
.description {
  width: 291px;
}

section .description {
  color: #6b6b6b;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  grid-area: desc;
  line-height: 150%;
}

span.link-heading-color {
  background: linear-gradient(96deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-pictures > img {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.sec-pictures-common {
  display: flex;
  align-items: center;
  grid-area: pic;
  justify-content: center;
  overflow: hidden;
  width: 550px;
}

.sec-folder {
  flex-direction: row-reverse;
}

.folder-picture {
  display: flex;
  align-items: center;
}

.folder-picture > img {
  display: flex;
  width: 100%;
}

.sec-folder span.folder-heading-color {
  background: linear-gradient(277deg, #6fbaff 59.22%, #ffd88b 93.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.3px;
}

.share-heading-color {
  background: linear-gradient(99deg, #6d7ccd 19.76%, #5288858c 52.69%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.share-bg-picture > img {
  width: 100%;
}

.sec-search {
  flex-direction: row-reverse;
}

.search-bg > img {
  width: 100%;
}

.search-heading-color {
  background: linear-gradient(271deg, #fe578f -9.84%, #68e8f9 107.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: space-between;
  background: #111322;
  color: #cfcfcf;
  font-family: Abel;
  font-size: 16px;
  font-weight: 400;
  height: 160px;
  margin-top: 120px;
  padding: 32px 104px 64px 104px;
}

footer > img {
  width: 20px;
  height: 20px;
}

footer a {
  color: #cfcfcf;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-icons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.footer-copyright {
  color: #676767;
}

/* PC */
@media (min-width: 1200px) {
  .header-page {
    width: 1200px;
  }

  nav {
    padding: 20px 200px;
  }
}

/* 태블릿 이하 */
@media (max-width: 1199px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
  header .header-top {
    gap: 40px;
    padding: 40px 250px 0;
  }

  .header-top a {
    width: 350px;
  }

  .header-heading {
    width: 472px;
  }

  .header-page {
    width: 698px;
  }

  nav {
    padding: 20px 32px;
  }

  section {
    gap: 10px 50px;
    padding: 50px 0 50px;
  }

  section [class$="-heading"],
  description {
    width: 262px;
  }

  .sec-pictures-common {
    width: 385px;
  }
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  header .header-top {
    padding: 70px 0 0;
  }

  nav {
    padding: 13px 32px;
  }

  section {
    padding: 0 32px;
  }

  header span {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    width: 260px;
  }

  header a {
    color: #f5f5f5;
    font-size: 14px;
    font-weight: 600;
    height: 16px;
  }

  .header-content {
    width: 100%;
  }

  nav img {
    width: 88.667px;
    height: 16px;
  }

  .nav-login a {
    display: flex;
    justify-content: center;
    background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
    border-radius: 8px;
    color: white;
    gap: 10px;
    padding: 10px 16px;
    width: 80px;
  }

  header .header-top {
    gap: 24px;
    padding: 28px 32px 0;
  }

  .header-top a {
    width: 200px;
  }

  .sec-pictures-common {
    width: 100%;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 40px 32px 36px;
  }

  section span {
    font-size: 24px;
  }

  section img {
    width: 100%;
  }

  section [class$="-heading"] {
    width: 100%;
  }

  section [class$="-heading"] div {
    display: inline;
  }

  .description {
    width: 100%;
  }

  footer {
    display: flex;
    align-content: space-between;
    align-items: flex-start;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 60px;
    height: 160px;
    line-height: 18px;
    margin-top: 40px;
    padding: 32px;
  }
}
