* {
  box-sizing: border-box;
}

body,
input,
a {
  all: unset;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f0f6ff;
  font-family: Pretendard;
  font-style: normal;
  justify-content: center;
  line-height: normal;
  display: flex;
}

main {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.text-big {
  font-size: 16px;
  font-weight: 400;
}

.text-small {
  font-size: 14px;
  font-weight: 400;
}

.text-common {
  color: #000;
}

.sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sign-logo {
  width: 210.583px;
  height: 38px;
}

main .sign-linkbrary-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

main .sign-linkbrary-container > a {
  color: #6d6afe;
  border-bottom: 1px solid #6d6afe;
  font-size: 16px;
  font-weight: 600;
}

.sign-logo,
.signup-link,
.sign-login,
.social-icon {
  cursor: pointer;
}

.sign-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.sign-form-container input {
  display: flex;
  width: 100%;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #fff;
}

.sign-form-container input:focus {
  border: 1px solid #6d6afe;
}

.sign-login-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.sign-login-container .sign-social {
  display: flex;
  width: 100%;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccd5e3;
  background: #e7effb;
}

a.sign-login {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  border-radius: 8px;
  background: linear-gradient(91deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 600;
}

.input-container {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.sign-password {
  width: 100%;
}

.input-container::after {
  background-image: url("/img/ic-eye-on.png");
  background-size: cover;
  content: "";
  height: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
}

.input-container.password::after {
  background-image: url("/img/ic-eye-off.png");
  /* background: url("/img/ic-eye-on.png") no-repeat 16px 16px; */
}

.social-login {
  color: #373740;
}

.social-icons {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.social-icons .ic-kakao {
  border: 1.5px solid #d3d4dd;
  border-radius: 50%;
}

/* PC */
@media (min-width: 1200px) {
}

/* 태블릿 이하 */
@media (max-width: 1199px) {
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1199px) {
}

/* 모바일 */
@media (min-width: 375px) and (max-width: 767px) {
  body {
    padding: 120px 32px;
  }
  main {
    display: flex;
    align-items: stretch;
  }

  .sign-logo {
    width: 100%;
  }

  input.sign-password {
    width: 100%;
  }

  a.sign-login {
    width: 100%;
  }
}
