.addLink {
  font-family: 'Pretendard', Helvetica;
  width: 100%;
  background-color: var(--linkbrarybg);
  padding: 0 32px;
  @media (min-width: 1124px) {
    padding: 0 320px;
  }

  .addLink-frame {
    background-color: #fff;
    border: 1px solid #6d6afe;
    border-radius: 10px;
    width: 100%;
    padding: 8px 10px;
    align-items: center;
    display: inline-flex;
    gap: 12px;
    @media screen and not (max-width: 768px) {
      padding: 16px 20px;
    }
  }

  .ic-link {
    height: 16px;
    width: 16px;
  }

  .addLink-text {
    width: 100%;
    font-size: 1.1em;
  }

  .addLink-button {
    height: 37px;
    padding: 10px 16px;
    gap: 10px;
    background: linear-gradient(91deg, #6d6afe 0%, #6ae3fe 100%);
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.floating {
  position: fixed;
  bottom: 0;
  z-index: 2;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and not (max-width: 768px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
